@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

/*HEADER*/

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#topheader{
    background-color: #D1891C;
    width: 100%;
    padding:  1%;
}

#hero{
    color: white;
    padding: 1%;
    width: 100%;
    border-width: 1px;
    box-shadow: 0px 10px 7px rgb(0,0,0,0.3);
    background-color: #00669F;
}

/*MAIN*/

main{
    height: 570vh;
    display: flex;
    align-items: center;
}

/*CARDS*/

#cards {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10%;
    height: 90%;
    
   
}

.card {
   
    background-color: #F3F3F3;
    margin: 1%;
    width: 450px;
    height: 600px;
}

h2 {
    text-align: center;
}

article p {
    display: block;
    text-align: justify;
    padding: 10%;
    font-size: 0.9em;
}

button{
    position: relative;
    width: 80%;
    left: 10%;
    bottom: 10px;
    background-color: #00669F;
    color: #ffffff;
    padding: 6%;
    border: 0px;
    font-size: 1.1em;
    font-weight: 500;

}

.content {
    position: relative;
    
}

.corazon {
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    width: 10%;
    height: auto;
}
.fondo {
    width: 100%;    
}

.perfil {
    position: relative;
    left: 30%;
    top: -4em;
    border-radius: 50%;
    width: 40%;
    box-shadow: 0px 10px 7px;

}

/*FOOTER*/

footer {
    background-color: #00669F;
    width: 100%;
    color: #ffffff;
}

#copyright {
    padding: 1%;
}

/*BOTÓN*/

#icono-suma{
    background-color: #00669F;
    color: white;
    border-radius: 3rem;
    position: fixed;
    left: 88%;
    top: 160%;
    width: 65px;
    height: 65px;
    padding: 0px;
    font-size: xxx-large;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*ENTRE 650 Y 925 PIXELES*/

@media only screen and (min-width : 650px) and (max-width: 925px) {
    .card {
        display: inline-block;
        background-color: #F3F3F3;
        width: 320px;
        height: 500px;    
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    main{
        height: 200vh;
    }

    #cards{
        width: 100%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 7vh;
        padding-bottom: 9vh;
    }
    
}

/*MAS DE 950 PIXELES*/

@media (min-width: 926px){

    .card{
        width: 450px;
        height: 600px;
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}
