@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular'),
        url('../fonts/Roboto-Regular.ttf');
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0px;
}

/*HEADER*/

header {
    position: fixed;
    z-index: 1;
    display: block;
    width: 100%;
}

#topheader{
    background-color: #D1891C;
    width: 100%;
    padding:  1%;
}

#hero{
    color: white;
    padding: 1%;
    width: 100%;
    border-width: 1px;
    box-shadow: 0px 10px 7px rgb(0,0,0,0.3);
    background-color: #00669F;
}

/*CARDS*/

#cards {
    height: 570vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
   
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.card {
   
    background-color: #F3F3F3;
    margin: 1%;
    width: 806px;
    height: 1427px;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    box-shadow: 2px 6px 9px grey;
}

#texto{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    margin-top: 0px;

}

article p {
    display: block;
    text-align: justify;
    padding: 5%;
    font-size: 1em;

}

button{

    background-color: #00669F;
    border: 0px;
    color: #ffffff;
    padding: 1em;
    font-size: 1em;
    font-weight: 500;
    width: 9em;

}

.content {
    position: relative;
    
}

.corazon {
    position: absolute;
    left: 0.7em;
    top: 0.7em;
    width: 10%;
    height: auto;
}
.fondo {
    width: 100%;    
}

.perfil {
    position: relative;
    left: 30%;
    top: -4em;
    border-radius: 8.5rem;
    width: 40%;
    box-shadow: 0px 10px 7px grey;

}

/*FOOTER*/

footer {
    background-color: #00669F;
    width: 100%;
    color: #ffffff;
}

#copyright {
    padding: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*BOTÓN*/

#icono-suma{
    background-color: #00669F;
    color: white;
    border-radius: 3rem;
    position: fixed;
    left: 88%;
    top: 160%;
    width: 65px;
    height: 65px;
    padding: 0px;
    font-size: xxx-large;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*ENTRE 650 Y 925 PIXELES*/

@media only screen and (min-width : 750px) and (max-width: 925px) {

    body{
        font-size: 20px;
    }

    #cards{
        height: 600vh;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 7vh;
        padding-bottom: 9vh;
    }
    
    .card{
        width: 700px;
        height: 1400px;
    }

}

/*MAS DE 950 PIXELES*/

@media (min-width: 1200px){

    body{
        font-size: 22px;
    }

    #cards{
    height: 400vh;
    padding-top: 17vh;
    padding-left: 5vw;
    padding-right: 5vw;
    width: auto;
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .card{
        width: 550px;
        height: 1100px;
    }

}
